.page-main{
    /* top:300px; */
    position: relative;
    padding: 70px 0;
    background-color: black;
    color: white;
 
}
.card-container{
margin-top:300px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 2fr;
   gap: 20px;
   background-color: goldenrod;
   
}
.card1{
   background: url(/pain/image/Results\ for\ quiz\ pick\ song\ lyrics\ to\ get\ a\ sad\ cat.jpg);
    margin-left: 50px;
    background-color: crimson;
    width: 300px;
    border-width: 30px;
    border-color: #8a2be2;
    border-radius: 50px 0 20px 10px;
    text-align: center;
    overflow: hidden;
    animation: card 3s cubic-bezier(0.86, 0, 0.07, 1) infinite;   
}


.image{
    background-color: deepskyblue;
}
.title{

    text-align: center;
    color: blue;
    font-size: 50px;
}
.disc-out{
    background-color: indigo;
    color: yellow;
   
}


.send-btn{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    width: 70%;
    color:rgb(198, 205, 0)
}
.home-disp{
    top:0;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(233, 33, 33);
    display: none;
  
}
   
.home-text{
  position: fixed;
    margin-left: 30%;
    margin-to: 49%;
    color:cyan;
    font-size: 50px;
   text-align: center;
}
.x{
    position: absolute;
    color:white;
    font-size: 30px;
    top:2px;
    right: 50px;
    cursor: pointer;
    animation: aastu 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes aastu{
    0%{
        

        
        transform:translateX(-300px);
    }
    25%{
    
        transform:translatey(300px);
    }
    50%{
    
        transform:translateX(-100px);
    }
    75%{
  
        transform:translatey(400px);
    }
    100%{

        transform:translateX(-200px);
    }
}


.form-element:nth-of-type(1), .form-element:nth-of-type(2){
    padding-top: 20px;
    height: 15px;
}

.form-element{
    width: 100%;
    padding: 5px;
    background-color: green;
    border: solid red;
}

textarea{
    height: 150px;
    resize: none;
}

.dont-contact-us{
    width: 90%;
    margin: 0 auto;
}

.some-random-message{
    padding: 20px;
    height: 80vh;
    z-index: 1000;
    overflow: hidden;
    display: none;
    place-items: center;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    animation: float-anim 0.1s infinite linear;
}

@keyframes float-anim{
    0%{
        top: 50%;
    }
    25%{
        top: 49%;
    }
    75%{
        top: 51%;
    }
    100%{
        top: 50%;
    }
}
.some-random-message h2{
    color: white;
}

.some-random-message span{
    position: absolute;
    top: 10px;
    color: white;
    border: solid red;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.dont-contact-us{
    background-color: blue;
}

.btn-container{
    display: flex;
    justify-content: center;
    
}

.dont-form fieldset{
    display: grid;
    row-gap: 5px;
}

.form-label{
    margin-top: 20px;
}

.lifa-bilh-new{
    position: absolute;
    animation: wodya-wodih 8s infinite linear;
    background-color: pink;
    border: solid red;
    padding: 5px 20px;
}

@keyframes wodya-wodih{
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

.some-random-message img{
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
}

.come{
    opacity: 100%;
    transition: 1s linear;
    animation: too-excited-elements 20s 1 linear !important;
}

@keyframes too-excited-elements{
    0%{
        transform: translateX(-1200px);
    }
    50%{
        transform: translateX(1200px);
    }
    100%{
        transform: translateX(0);
    }
}
